#cntr
{
    width: 75%;
    padding-top: 100px;
    margin: auto;
    text-align:center
}
h1
{
    font-size: 60px;
    font-family: sans-serif;
}
p2
{
    font-size: 50px;
    font-family: sans-serif;
}
h3
{
    font-size: 40px;
    font-family: sans-serif;
    color:red;
    margin-top:5px;
}